@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black ;
  background: #FAFAFA;
}

.subtext {
  color: #A9A9A9;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .title {
    @apply text-3xl md:text-5xl font-bold text-chikBrown300;
  }
  .absolute-center{
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2
  }
  p{
    @apply text-chikBrown200 text-base lg:text-xl
  }
}
